.header_language_editor_search {
	padding: 2px 0 3px 20px;
	background: url(search.png) no-repeat left center;
}
.header_language_editor_build {
	padding: 2px 0 3px 20px;
	background: url(build.png) no-repeat left center;
}

fieldset.translation_update div {
	line-height: 1.8em;
}
img.tl_translation_indicator {
	background: url(indicator.gif) no-repeat center center;
	vertical-align: middle;
}

form#tl_translation pre.plaintrans,
pre.translation_content {
	margin: 4px 0;
	padding: 4px;
	border: 1px solid #bbb;
	background: #F9F9F9;
	color: #AE0000;
	width: 690px;
	overflow: auto;
}
.tl_listing_container form#tl_translation pre.plaintrans,
.tl_listing_container pre.translation_content {
	width: 580px;
}

form.searching .tl_submit_container {
	background-image: url(searching.gif);
	background-repeat: no-repeat;
	background-position: 665px center;
}